footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 5vh 10vw 0;
    }
}